RESEND_API_KEY=re_your_resend_api_key
OTP_FROM_EMAIL=СКМ <no-reply@service-skm.ru>
AUTH_SECRET=long-random-secret
ADMIN_EMAILS=fateewkostik@hotmail.com,skm.moskow.www@gmail.com,i@skmoscow.ru
TURSO_DATABASE_URL=libsql://your-db-name-org.turso.io
TURSO_AUTH_TOKEN=your_turso_auth_token
TURSO_ORG=your-turso-org-slug
TURSO_API_TOKEN=your_turso_platform_api_token
NEXT_PUBLIC_SITE_URL=https://service-skm.ru
# JivoChat online chat (https://www.jivo.ru)
# ID из кода: //code.jivo.ru/widget/ВАШ_ID
NEXT_PUBLIC_JIVO_WIDGET_ID=your_jivo_widget_id
# NEXT_PUBLIC_JIVO_ENABLED=false
# NEXT_PUBLIC_JIVO_AUTH_ONLY=true

