RESEND_API_KEY=re_your_resend_api_key
OTP_FROM_EMAIL=СКМ <no-reply@service-skm.ru>
AUTH_SECRET=long-random-secret
ADMIN_EMAILS=fateewkostik@hotmail.com,skm.moskow.www@gmail.com,ooo-skmoscow@yandex.ru
TURSO_DATABASE_URL=libsql://your-db-name-org.turso.io
TURSO_AUTH_TOKEN=your_turso_auth_token
TURSO_ORG=your-turso-org-slug
TURSO_API_TOKEN=your_turso_platform_api_token
NEXT_PUBLIC_SITE_URL=https://service-skm.ru
# Tawk.to online chat (https://www.tawk.to)
NEXT_PUBLIC_TAWK_PROPERTY_ID=your_tawk_property_id
NEXT_PUBLIC_TAWK_WIDGET_ID=default
# NEXT_PUBLIC_TAWK_ENABLED=false
# NEXT_PUBLIC_TAWK_AUTH_ONLY=true

